.thumb{
  width: 30px;
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.thumb--active{
  outline: 2px solid var(--color-white);
}

.thumb--up{
  background-color: rgba(var(--color-green-positive), 0.8);
}

.thumb--up:hover{
  background-color: rgba(var(--color-green-positive), 1);
}

.thumb--down{
  background-color: rgba(var(--color-yellow-negative), 0.8);
}

.thumb--down:hover{
  background-color: rgba(var(--color-yellow-negative), 1);
}

@media (width > 1100px){
  .thumb{
    width: 45px;

    img{
      width: 24px;
      height: auto;
    }
  }
}