.thumb{
  width: 30px;
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 2px solid transparent;
}

.thumb--active{
  border-color: var(--color-white);
}

.thumb--up{
  background-color: rgba(var(--color-green-positive), 0.8);
}

.thumb--up:hover{
  background-color: rgba(var(--color-green-positive), 1);
}

.thumb--down{
  background-color: rgba(var(--color-yellow-negative), 0.8);
}

.thumb--down:hover{
  background-color: rgba(var(--color-yellow-negative), 1);
}